body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  position: relative;
  color: #fff;
  background: #000033;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  display: inline-block;
  transition: all ease 0.6s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

small {
  display: inline-block;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* media style */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

.container {
  max-width: 1224px;
}

/*==== sticky-nev start=== */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000033;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-section {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #000033;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
// languageImg start
.languageImg {
  height: 100%;
  min-height: 100vh;
  min-height: 100vh;
  background: #000033;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  .imgBox {
    position: relative;
    padding: 77px 0;
    img {
      &.languagebg {
      }
    }
    .itemNonLanguage {
      position: absolute;
      top: 16%;
      left: 0;
      right: 0;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;

      a {
        img {
        }
      }
    }
    .itemEnglishLanguage {
      display: inline-block;
      position: absolute;
      top: 35%;
      left: 0;
      right: 0;
      margin: auto;
      width: 25%;
      a {
        img {
        }
      }
    }
    .logoImg {
      margin-top: -45px;
      img {
      }
    }
  }
}
// languageImg end
// wrapp start
.wrapp {
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  min-height: 100vh;
  background: #000033;
  z-index: 9999;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.wrapp2 {
    align-items: start;
    padding-top: 16px;
    .buttonItem {
      position: fixed;
      bottom: 42px;
      left: 0;
      right: 0;
      max-width: 116px;
      margin: 0 auto;
    }
    .FromItem {
      label {
        color: #ffcc33;
      }
    }
  }
  .DontPickEnglish {
    position: relative;
    padding: 0 40px;
    .logoImg {
      text-align: center;
      margin-bottom: 34px;
      a {
        img {
          width: 300px;
        }
      }
    }
    .textItem {
      margin-bottom: 30px;
      h4 {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #f2f2e6;
      }
      p {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &.logInWrapp {
    align-items: start;
    .DontPickEnglish {
      padding-top: 16px;
      .logoImg {
        margin-bottom: 44px;
      }
      .textItem {
        text-align: center;

        h4 {
          font-family: 'Public Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          text-align: center;
          color: #f2f2e6;
          margin-bottom: 15px;
        }
        a {
          font-family: 'Public Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          text-decoration-line: underline;
          color: #ffffff;
        }
      }
      .FromItem {
        .form-group {
          margin-bottom: 12px;
          label {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: -0.03em;
            color: #f2f2e6;
          }
          input {
          }
          .passwordWrapp {
            position: relative;
            input {
            }
            .show-hide-button {
              position: absolute;
              right: 10px;
              top: 45%;
              transform: translateY(-50%);
              cursor: pointer;
              &::after {
                position: absolute;
                content: '';
                right: -2px;
                top: 12px;
                width: 25px;
                height: 2px;
                background-color: #004b55;
                transform: rotate(21deg);
                opacity: 0;
              }

              &.hide-password {
                &::after {
                  opacity: 1;
                }
              }
            }
          }
        }
        .buttonItem {
          button {
          }
        }
      }
    }

    .FromItem {
      label {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;
        color: #ffcc33;
      }
      input {
        border: 2px solid #f2f2e6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        background: #004b55;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        color: #ffffff;
        padding: 4px 9px;
        &::placeholder {
          color: #f2f2e680;
        }
      }
    }
  }

  .buttonItem {
    position: fixed;
    bottom: 42px;
    left: 0;
    right: 0;
    max-width: 116px;
    margin: 0 auto;
    button {
      width: 93px;
    }
    &.ArrowRight {
      button {
        svg {
          max-width: 100%;
          fill: none !important;
          path {
            stroke: #f2f2e6;
          }
        }
        &:hover {
          svg {
            fill: #fff !important;
            path {
              fill: none !important;
              stroke: #004b55;
            }
          }
        }
      }
    }
  }
  .SelectLanguage {
    padding: 0 16px;
    position: fixed;
    bottom: 88px;
    left: 0;
    right: 0;
    li {
      &:first-child {
        margin-right: 16px;
      }
      a {
        border: 2px solid #044b55;
        border-radius: 8px;
        background: #f2f2e6;
        padding: 20px 35px;
        img {
        }
      }
    }
  }
  &.forgetWrapp {
    .DontPickEnglish {
      .textItem {
        h4 {
          margin-bottom: 10px;
        }
        a {
          text-decoration-line: none;
        }
      }
      .FromItem {
        .form-group {
          margin-bottom: 12px;
          label {
            font-family: 'Public Sans';
            font-style: italic;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #ffcc33;
            margin-bottom: 5px;
          }
          select {
            border: 0;
            border-radius: 0;
            background: #004b55;
            letter-spacing: -0.04em;
            color: #fffade;
            padding: 4px 25px;
            position: relative;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #fffade;
            &:focus {
              box-shadow: none;
            }
          }
          .arrowSelect {
            position: relative;
            &::after {
              position: absolute;
              content: '';
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              background-image: url(../img/arrowDown.svg);
              background-size: 15px 15px;
              width: 15px;
              height: 15px;
            }
          }
          .passwordWrapp {
            position: relative;
            input {
            }
            .show-hide-button {
              position: absolute;
              right: 10px;
              top: 45%;
              transform: translateY(-50%);
              cursor: pointer;
              &::after {
                position: absolute;
                content: '';
                right: -2px;
                top: 12px;
                width: 25px;
                height: 2px;
                background-color: #004b55;
                transform: rotate(21deg);
                opacity: 0;
              }

              &.hide-password {
                &::after {
                  opacity: 1;
                }
              }
            }
          }
        }
        .buttonItem {
          .sendOTP {
            a {
              font-family: 'Public Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              text-decoration-line: underline;
              color: #ffffff;
            }
          }
          button {
          }
        }
        .HelpButton {
          max-width: 43px;
          position: fixed;
          right: 11%;
          bottom: 61px;
          a {
            img {
            }
          }
        }
      }
    }

    .FromItem {
      label {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;
        color: #ffcc33;
      }
      input {
        border: 2px solid #f2f2e6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        background: #004b55;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        color: #ffffff;
        padding: 4px 9px;
        &::placeholder {
          color: #f2f2e680;
        }
      }
      .buttonItem {
        position: fixed;
        bottom: 42px;
        left: 0;
        right: 0;
        max-width: 116px;
        margin: 0 auto;
        button {
        }
      }
    }
    .SelectLanguage {
      padding: 0 16px;
      position: fixed;
      bottom: 88px;
      left: 0;
      right: 0;
      li {
        &:first-child {
          margin-right: 16px;
        }
        a {
          border: 2px solid #044b55;
          border-radius: 8px;
          background: #f2f2e6;
          padding: 20px 35px;
          img {
          }
        }
      }
    }
  }
  .TextPassword {
    padding-top: 115px;
    p {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.02em;
      color: #f2f2e6;
    }
  }
  .backArea {
    position: fixed;
    left: 40px;
    bottom: 61px;
    width: 35px;
  }
  .hidden {
    display: none;
  }
  #error-message {
    margin-bottom: 60px;
    h4 {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #f2f2e6;
      margin-bottom: 0;
    }
    span {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #ffcc33;
    }
  }
  .wrrongWrapp {
    label {
      color: #ffcc33 !important;
    }
  }
}
.buttonItem {
  button {
    background: #004b55 !important;
    border: 3.3px solid #f2f2e6 !important;
    border-radius: 11px !important;
    transition: all ease 0.6s;
    svg {
      fill: #fff;
      transition: all ease 0.6s;
    }
  }
}
.buttonItem {
  button {
    transition: all ease 0.6s;
    min-width: 96px;
    min-height: 77px;
    &:hover {
      transition: all ease 0.6s;
      background: #fff !important;
      border: 3.3px solid #004b55 !important;
      svg {
        transition: all ease 0.6s;
        fill: #004b55;
      }
    }
  }
}
.permissionImg {
  margin: 34px 0;
  li {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
    a {
      img {
      }
    }
  }
}
.permissionText {
  p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #f2f2e6;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
// wrapp end
// HelloSuperstar start
.HelloSuperstar {
  h4 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #f2f2e6;
    margin-bottom: 18px;
  }
  img {
    margin-bottom: 20px;
  }
  p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #f2f2e6;
    margin-bottom: 0;
  }
}
// Fabulous start
.Fabulous {
  img {
    width: 60px;
    margin-bottom: 52px;
  }
  h4 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #f2f2e6;
    margin-bottom: 48px;
  }
  p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 0;
    color: #f2f2e6;
  }
}
// typedName start
.SoundsGreat {
  ul {
    margin-bottom: 52px;
    li {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 60px;
      }
    }
  }
  h4 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #f2f2e6;
    margin-bottom: 48px;
  }
  p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #f2f2e6;
    margin-bottom: 15px;
  }
}
form {
  .SoundsGreatinput {
    label {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 33px;
      text-align: center;
      color: #f2f2e6;
      margin-bottom: 15px;
    }
    input {
      border: 2px solid #f2f2e6;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      background: #004b55 !important;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      letter-spacing: -0.04em;
      color: #fff !important;
      padding: 4px 9px;

      &::placeholder {
        color: #f2f2e680 !important;
      }
      &:focus {
        box-shadow: none;
        border-color: #f2f2e6;
      }
    }
  }
}

.HelpButton {
  max-width: 43px;
  position: fixed;
  right: 11%;
  bottom: 55px;
  a {
    img {
    }
  }
}
// DataCollection start
.DataCollection {
  .logoWrappData {
    margin-bottom: 60px;
    padding-top: 11px;
    ul {
      padding-left: 15px;
      padding-right: 15px;
      li {
        a {
          img {
          }
        }
        &.arrowLeft {
          width: 22px;
          img {
            width: 22px;
          }
        }
        &.logoItem {
          width: 260px;
        }
        &.dot3 {
          width: 8px;
        }
      }
    }
  }
  .EvidenceWrapp {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 36px;
    h4 {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #f2f2e6;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #f2f2e6;
    }
    ul {
      li {
        width: 47%;
        height: 110px;
        a {
          border: 3.3px solid #f2f2e6;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 11px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: all ease 0.6s;
          background: #044b55;
          svg {
            fill: #f2f2e6;
            transform: all ease 0.6s;
          }
          &:hover {
            svg {
              fill: #044b55;
            }
            background: #fff;
          }
        }
      }
    }
  }
  .LabelingWrapp {
    padding-left: 53px;
    padding-right: 30px;
    padding-bottom: 60px;
    text-align: center;
    p {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin-bottom: 0;
      max-width: 205px;
    }
  }
}
.buttonItem {
  position: fixed;
  bottom: 42px;
  left: 0;
  right: 0;
  max-width: 116px;
  margin: 0 auto;
}
.PhotoEvidence {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  h4 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #f2f2e6;
    margin-bottom: 15px;
  }
  p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #f2f2e6;
  }
}
// Notes start
.Notes {
  padding-left: 30px;
  padding-right: 30px;
  h4 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #f2f2e6;
    margin-bottom: 15px;
  }
  textarea {
    background: #044b55 !important;
    border: 3px solid #f2f2e6;
    border-radius: 11px;
    height: 280px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #fff !important;
    &:focus {
      box-shadow: none;
      border: 3px solid #f2f2e6;
    }
    &::placeholder {
      color: rgb(242 242 230 / 50%);
    }
  }
}
// DotsPressed start
.DotsPressed {
  padding-left: 10px;
  padding-right: 10px;
  ul {
    li {
      margin-bottom: 2px;
      width: 33.33%;
      height: 86px;

      a {
        background: #004b55;
        border: 2px solid #f2f2e6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        max-width: 112px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        svg {
          stroke: #f2f2e6 !important;
          path {
            stroke: #f2f2e6 !important;
          }
        }
        &:hover {
          background-color: #fff;

          svg {
            filter {
              display: none;
            }
            filter: drop-shadow(3px 5px 2px transition !important);
            stroke: #004b55 !important;
            g {
              filter: #004b55;
            }
            path {
              stroke: #004b55 !important;
            }
            filter {
              stroke: #004b55 !important;
            }
          }
        }
      }
    }
  }
}
// infoWrapp start
.infoWrapp {
  .Info {
    margin-bottom: 45px;

    h4 {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      margin-bottom: 30px;
      color: #f2f2e6;
    }
    p {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #f2f2e6;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
